* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
/*there is a gap between the nav bar and the scroll bar how do i fix it?*/
}

nav {
    height: 60px;
    width: 100%;
    
}

.menu {
    
    list-style-type: none;
    display: flex;
    color: rgb(72, 119, 115);
    font-family: sans-serif;
    margin: 0 0 0 500px ;
}

 .dish {
  margin: 20px 40px 20px 0px;
}

/* buttons that will flash when hovered over, ect */

.house, .describe,.picasso, .jobby-job  {
   transition-property: color;
    transition-duration: 400ms;
}

.house:hover, .describe:hover,.picasso:hover, .jobby-job:hover  {
    font-weight: 700;
    color: white;
}


a {
  text-decoration: none;
}

a:link {
    color: rgb(72, 119, 115);
}


header {
    background-color: rgb(246, 205, 138);
}

/* .home is the container for the beginning of the page my name, picture and contact me, portfolio buttons*/

.home {
    width: 100%;
    height: 34%;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.elevator {
    margin-top: 180px ;
}

/* .selfie is my picture at the beginning, .profile is the div containing the picture*/

.selfie {
    width: 450px;
    height: 500px;
    padding: 30px 0 0 20px;
    margin: 0 0 45px 0;
}

.profile {
    width: 50%;
   
}

.me {
    font-size: 50px;
    color:rgb(41, 145, 176);    font-family: "Teko", sans-serif, Arial, Helvetica;
    font-size: 80px;
    display: block;
    line-height: 0.75em;

}


.push-it {
  margin: 55px 20px 0 0;
}


.employed {
    background-color: rgb(251, 205, 68);
    border-radius: 5px;
    height: 20px;
    width: 100px;
    border-style: none;
    color: rgb(60, 105, 101);
    transition-property: background-color;
    transition-duration: 500ms;
}

.employed:hover {
    background-color: rgb(161, 127, 22);
    color: white;
    font-weight: 700;
    font-size: 12px;
}
/*.employed(both buttons) and .push-it(the div holding the buttons) are both button related and .space is the space between the buttons*/

.space {
    margin-right: 60px;
}

.what-i-do {
    color: rgb(232, 135, 99);
    font-family: sans-serif, Arial, Helvetica;
}

.home { 
    display: flex;
}

.headline {
    width: 50%;
    display: flex;
    justify-content: center;
}



.my-work {
    width: 100%;
    height: 25%;
    display: flex;
/*instead of flex try grid for the images and put them in a separate container */
}

#portfolio img {
    height: 150px;
    width:250px;
}

/* . who-am- i is the section containing the div with a class of statement*/
.who-am-i {
    background-color: rgb(179, 222, 211);
    width: 100%;
    height: 25%;
    display:flex;
    font-family: sans-serif;
    color: rgb(254, 254, 252);
}

/*.hammer is the div containing Let's tell your story*/
.hammer {
    font-size: 50px;
    width: 50%;
    height: 400px;
    
}

.builder {
    font-weight: 300;
    height: 200px;
    width: 250px;
    margin:  50px 0 0 200px;
    
}

.provide {
    width: 50%;
    font-size: 20px;
}

.statement {
    width: 200px;
    height: 80px;
    margin: 150px 0 0 100px;
}



.live {
    font-weight: 700;
    
}
.one {
    display: block;
}
.two {
    display: block;
    font-weight: 100;
}

.personal {
    font-style: italic;
    font-weight: 500;
}
footer {
    background-color: rgb(246, 205, 138);
    width: 100%;
    height:60px;
}

footer img {
    width: 20px;
}

#contact-me {
    height: 25%;
    width: 100%;
    background-color: rgb(179, 222, 211);
/*match the font to the rest of the page*/
}

.call-me {
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: Arial, sans-serif;
   
}
/*tower is the form element */
.tower {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

textarea {
    width:300px;
    height: 100px;
    margin-top: 40px;
    border: 0;
}
/*how to get rid of text once text box is clicked on, not when i start to write 

also don't like that each text box is highlighted by a blue box, i want a better styling for it*/

.submition {
    margin-top: 30px;
}

/*who-are-you is the first and last name and email from the textarea placed together to fix the margin

want to align the first, last name and email to left without getting rid of centering will place in another container and align that way*/

.who-are-you {
    margin-top: 10px;
}

/*had to put in 0 border to get rid of the lines around the border*/
.who-are-you input {
    border: 0;
    
}

/*used #name-inputs to change how first and last name inputs were lining up*/
#name-inputs {
    margin-left: 30px;
}

/*used  how first and last name labels were lining up*/
label {
    text-align: left;  
}

/*changed how the email label was lining up*/
.email-title {
    margin-left: 25px;
    
}

#email-input {
    margin-right: 25px;
    margin-left: 60px;
}